# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
styles.css
*.js.map

# misc codemirror files
*.html
test.js

cm-editor-syntax-highlight-obsidian.zip

cm-editor-syntax-highlight-obsidian/
deploy